.app {
  background: lightslategrey;
  padding: 1rem;
  min-height: 100vh;
}

.title {
  text-align: center;
}

.white {
  color: white;
}

.loading {
  text-align: center;
  color: white;
}

.card {
  background: white;
  padding: 1rem;
  max-width: 64rem;
  margin: 0 auto;
}

.character_name {
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
}
